*{

    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: auto;
    background-color: white;
}

navbar h1{
    text-align: center
}

.btn-shop{
    float: left;
    margin: auto;
    margin-left: 10%;
    padding: 7px 45px 7px 45px;
    font-weight: bold;
    border: none;
    
}

.product-card-one,
.product-card-two,
.product-card-three {
    width: 290px;
    height: 320px;
    box-shadow: 5px 4px 10px 0px rgba(0,0,0,0,45);
}
.product-card-one{
    background-color: #5DE1D9;
}

.product-card-two{
    background-color: green;
}

.product-card-three{
    background-color: #06AFE3;
}

.product-header-text{
    background-color: gray;
    color: blue;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.product-card-one >img,
.product-card-two >img,
.product-card-three >img {
    height: 170px;
    margin: auto;
}

.product-card-one >button,
.product-card-two >button,
.product-card-three >button
{font-size: 14px;}

.product-card-one >button >span,
.product-card-two >button >span,
.product-card-three >button >span
{font-size: 12px;}

.page-footer {
    background-color:lightblue;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-contact-us{
    background-color: darkblue;
    margin: auto;
    padding: 10px 50px 10px 50px;
    font-weight: bold;
    border: none;
}