*{

    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: auto;
    background-color: white;
    margin: 0;
}

.page-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

.navbar-grid{
    grid-row: 1;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #06AFE3; position: sticky; top: 0;
    position: sticky;
    top: 0
}

navbar h1{
    text-align: center
}

.btn-shop{
    grid-column: 1;
    float: left;
    margin: auto;
    margin-left: 10%;
    padding: 7px 45px 7px 45px;
    font-weight: bold;
    border: none;
    
}

.our-info-grid{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 38% ;
    grid-template-rows: auto ;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.info-text-left{
    grid-column: 1;
    padding: 25px 5% 25px 5%;
}

.info-text-right{
    grid-column: 2;
    text-align: center;
    border-left: 1px solid gray;
    padding: 60px 5% 60px 5%;
    height: 100%;
}

.trending-container-grid{
    grid-row: 3;
    display: grid;
    grid-template-columns: 38% 1fr 1fr 1fr ;
    grid-template-rows: auto;
    border-bottom: 1px solid gray;
}

.trending-container-grid >h2{
grid-column: 1;
margin: auto;
padding: 17%;
border-right: 1px solid gray;
font-weight: normal;
font-size: 36px;
}

.trending-container-grid>img{
    height: 170 px;
    margin: auto;
}

.product-card-one-grid,
.product-card-two-grid,
.product-card-three-grid {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 164px auto 40px;
    width: 290px;
    height: 320px;
    box-shadow: 5px 4px 10px 0px rgba(0,0,0,0,45);
    background-color: #5DE1D9;
    margin-top: 25px;
    margin-bottom: 25px;
}
.product-card-one-grid{
    grid-column: 2;
}

.product-card-two-grid{
    grid-column: 3;
}

.product-card-three-grid{
    grid-column: 4;
}

.product-header-text{
    background-color: gray;
    color: blue;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.product-card-one-grid >img,
.product-card-two-grid >img,
.product-card-three-grid >img {
    height: 170px;
    margin: auto;
}

.product-card-one-grid >button,
.product-card-two-grid >button,
.product-card-three-grid >button
{font-size: 14px;}

.product-card-one-grid >button >span,
.product-card-two-grid >button >span,
.product-card-three-grid >button >span
{font-size: 12px;}

.card-one-text {
    padding-left: 60px; 
    padding-top: 25px
}

.card-two-text {
    padding-left: 8px; 
    padding-top: 25px
}

.card-three-text {
    padding-left: -1px; 
    padding-top: 25px
}

.page-footer-grid {
    display: grid;
    grid-row: 5;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color:lightblue;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid gray;
}

.btn-contact-us{
    grid-column: 2;
    background-color: darkblue;
    margin: auto;
    padding: 10px 50px 10px 50px;
    font-weight: bold;
    border: none;
}

.footer-left,
.footer-center,
.footer-right{
    grid-column: 1;
    grid-row: 1;
}

.footer-center {
    grid-column: 2;
}

.footer-right{
    grid-column: 3;
    text-align: center;
    margin-right: 10px;
    margin-top: 220px;
}

.form-contact {
    grid-column: 2;
    width: 100%;
}

.form-contact >textarea,
.form-row {
    margin-bottom: 15px;
}